@{
    ViewBag.Title = "Contact";
}
<!-- ========================== -->
<div class="custom-header " style="background-image:url(../wp-content/uploads/sites/3/2018/12/bg1.jpg);">
    <span class="vc_row-overlay"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pix-header-tab-box text-white-color">


                    <div class="pix-header-title text-left">
                        <h1 class="pix-h1">
                            Contacts
                        </h1>

                    </div>

                    <div class="pix-header-breadcrumbs text-left">
                        <div class="pix-breadcrumbs-path"><a href="../index.html">Home</a></div><!-- .breadcrumbs -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!--./top header -->








<section class="blog">
    <div class="container">
        <div class="row">


            <div class=" col-12 pix-no-sidebar">

                <div class="rtd">
                    <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid pix-padding-top-s pix-padding-bottom-s default vc_custom_1546766126326 vc_row-has-fill">
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="pix-square ">
                                        <a href="https://quattro.true-emotions.studio/">
                                            <div class="pix-ibox-top pix-text-left">
                                                <div class="pix-overlay pix-color"></div>
                                                <div class="pix-block-content">
                                                    <div class="round pix-icon-l pix-icon-gradient "><div class="icon"><span class="icon-call-in"></span></div></div>
                                                    <div class="">
                                                        <h3>+ 010 234 7892 34</h3>
                                                        <p>Similique minima magni quidem aliquid illo sequi corporis fugiat type and llo similique magnisimilique minimamagniquidem</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="pix-square ">
                                        <a href="https://quattro.true-emotions.studio/">
                                            <div class="pix-ibox-top pix-text-left">
                                                <div class="pix-overlay pix-color"></div>
                                                <div class="pix-block-content">
                                                    <div class="round pix-icon-l pix-icon-gradient "><div class="icon"><span class="icon-location-pin"></span></div></div>
                                                    <div class="">
                                                        <h3>685 Lane Drive St. California</h3>
                                                        <p>Similique minima magni quidem aliquid illo sequi corporis fugiat type and llo similique magnisimilique minimamagniquidem</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="pix-square ">
                                        <a href="https://quattro.true-emotions.studio/">
                                            <div class="pix-ibox-top pix-text-left">
                                                <div class="pix-overlay pix-color"></div>
                                                <div class="pix-block-content">
                                                    <div class="round pix-icon-l pix-icon-gradient "><div class="icon"><span class="icon-note"></span></div></div>
                                                    <div class="">
                                                        <h3>info@quattro.com</h3>
                                                        <p>Similique minima magni quidem aliquid illo sequi corporis fugiat type and llo similique magnisimilique minimamagniquidem</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="vc_row-full-width vc_clearfix"></div><div class="vc_row wpb_row vc_row-fluid pix-top-no-padding pix-bottom-no-padding default">
                        <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="pix-square vc_custom_1544629701740 ">
                                        <div class="pix-ibox-side pix-text-review-left">
                                            <div class="pix-overlay pix-color"></div>
                                            <div class="pix-block-content">
                                                <div class="transparent pix-icon-l pix-icon-color "><div class="icon"><img src="../wp-content/uploads/sites/3/2018/11/key-2.svg" alt=""></div></div>
                                                <div class="text pix-top">

                                                    <p>
                                                        <span style="color: #000000"><strong>Monday to Friday:</strong></span> 9:00 AM to 6:00 PM<br />
                                                        <span style="color: #000000"><strong>Saturday:</strong></span> 9:00 AM to 5:00 PM<br />
                                                        <span style="color: #000000"><strong>Sunday:</strong></span> Closed
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="pix-square vc_custom_1544629725074 ">
                                        <div class="pix-ibox-side pix-text-review-left">
                                            <div class="pix-overlay pix-color"></div>
                                            <div class="pix-block-content">
                                                <div class="transparent pix-icon-l pix-icon-color "><div class="icon"><img src="../wp-content/uploads/sites/3/2018/11/air-filter.svg" alt=""></div></div>
                                                <div class="text pix-top">

                                                    <p><span style="color: #000000"><strong>Office location</strong> </span>&#8211; our office consists of three buildings and is located in the heart of the city. You can easily reach us by metro or by land transport.</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="pix-square ">
                                        <div class="pix-ibox-side pix-text-review-left">
                                            <div class="pix-overlay pix-color"></div>
                                            <div class="pix-block-content">
                                                <div class="transparent pix-icon-l pix-icon-color "><div class="icon"><img src="../wp-content/uploads/sites/3/2018/11/gears.svg" alt=""></div></div>
                                                <div class="text pix-top">

                                                    <p>
                                                        <span style="color: #000000"><strong>Address:</strong></span> 685 Lane Drive St. California<br />
                                                        <span style="color: #000000"><strong>Phone:</strong></span> +010 234 7892 34<br />
                                                        <span style="color: #000000"><strong>Fax:</strong></span> +010 435 5798982<br />
                                                        <span style="color: #000000"><strong>Email:</strong></span> <a href="info%40quattro.html">info@quattro.com</a>
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">
                                    <div class="pix-rounded pix-text-left">
                                        <div role="form" class="wpcf7" id="wpcf7-f1205-p860-o1" lang="en-US" dir="ltr">
                                            <div class="screen-reader-response"></div>
                                            <form action="https://quattro.true-emotions.studio/black/contacts/#wpcf7-f1205-p860-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                                <div style="display: none;">
                                                    <input type="hidden" name="_wpcf7" value="1205" />
                                                    <input type="hidden" name="_wpcf7_version" value="5.1.5" />
                                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1205-p860-o1" />
                                                    <input type="hidden" name="_wpcf7_container_post" value="860" />
                                                </div>
                                                <div class="pix-contact-form">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-12">
                                                            <div class="form-group">
                                                                <label for="pix-company-input">Company:</label><br />
                                                                <span class="wpcf7-form-control-wrap Company"><input type="text" name="Company" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required pix-site-input" id="pix-company-input" aria-required="true" aria-invalid="false" placeholder="(Motors Inc.)" /></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-12">
                                                            <div class="form-group">
                                                                <label for="pix-name-input">Name:</label><br />
                                                                <span class="wpcf7-form-control-wrap Name"><input type="text" name="Name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required pix-site-input" id="pix-name-input" aria-required="true" aria-invalid="false" placeholder="(Richard Gear)" /></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-12 last">
                                                            <div class="form-group">
                                                                <label for="pix-phone-input">Phone:</label><br />
                                                                <span class="wpcf7-form-control-wrap Phone"><input type="text" name="Phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required pix-site-input" id="pix-phone-input" aria-required="true" aria-invalid="false" placeholder="(+7 100 45465 54 54)" /></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group pix-textarea-group">
                                                                <label for="pix-message-input">Message:</label><span class="wpcf7-form-control-wrap Message"><textarea name="Message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required pix-site-input" id="pix-message-input" aria-required="true" aria-invalid="false"></textarea></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="pix-submit-holder">
                                                                <input type="submit" value="Send message" class="wpcf7-form-control wpcf7-submit pix-button" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid pix-padding-top-xl pix-bottom-no-padding default vc_row-no-padding">
                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner ">
                                <div class="wpb_wrapper">


                                    <div class="pix-map-container">
                                        <div id="pix-map"></div>
                                    </div>

                                    <script async defer>

    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        // Basic options for a simple Google Map
        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        var mapOptions = {
            // How zoomed in you want the map to start at (always required)
            zoom: 9,

            // The latitude and longitude to center the map (always required)
            center: new google.maps.LatLng(40.6700,-73.9400), // New York

            scrollwheel: false,


            // How you would like to style the map.
            // This is where you would paste any style found on Snazzy Maps.
            styles: [{"featureType":"water","elementType":"geometry","stylers":[{"color":"#e9e9e9"},{"lightness":17}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}]
        };

        // Get the HTML DOM element that will contain your map
        // We are using a div with id="map" seen below in the <body>
        var mapElement = document.getElementById('pix-map');

        var locations = [];
                        locations.push([40.6700,-73.9400, 'New York - 685 Lane Drive St.  ']);
                                locations.push([40.3483734,-74.7048619, 'Princeton - 685 Lane Drive St.']);
                ;

        // Create the Google Map using our element and options defined above
        var map = new google.maps.Map(mapElement, mapOptions);

        // Let's also add a marker while we're at it
        var image = '';

        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow();

        for (var i = 0; i < locations.length; i++) {
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][0], locations[i][1]),
                map: map,
                icon: image
            });

            bounds.extend(marker.position);

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent(locations[i][2]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
        map.fitBounds(bounds);

        var listener = google.maps.event.addListener(map, "idle", function () {
            map.setZoom(9);
            google.maps.event.removeListener(listener);
        });
    }

                                    </script>

                                </div>
                            </div>
                        </div>
                    </div><div class="vc_row-full-width vc_clearfix"></div>
                </div>
            </div>


        </div>
    </div>
</section>